.bag-summary-list {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-auto-rows: auto;
}

.bag-summary-list__club {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 4rem;
    border: 1px solid rgb(210, 199, 157);
    border-radius: 3px;

    font-size: .9rem;
    font-weight: bold;
    color: rgb(120, 120, 120);
    background-color: rgb(247, 241, 217);
    z-index: 1;
}

.bag-summary-list__club--span {

    grid-column: span 3;
}

.club__name {

    padding: 0 0 0.25rem 0;
    font-size: .8rem;
    cursor: default;
    pointer-events: none;
}

.club__type {
    font-size: .8rem;
    font-weight: bold;
}

.bag-summary-list__club__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 4rem;
    border: none;
    padding: 0;
    background: none;
    width: 100%;
}
