.c-btn-bar {
    max-width: 100vw;
    margin: 0 auto;
    box-shadow: 2px 42px 23px 21px hsla(0, 0%, 0%, 0.125);
}

.c-btn-bar__container {
    background: linear-gradient(171deg, rgb(85, 177, 0) 0%, rgb(55, 116, 0) 100%);
}
