.gameplay-detail {
    background: rgb(242, 235, 207);
    padding: .5rem .2rem .2rem .2rem;
    box-shadow: 1px 2px 5px rgba(141, 129, 78, 0.4);
}

.gameplay-detail__field {
    font-size: .9rem;
    font-weight: bold;
    padding-left: .5rem;
}
