
@font-face {
    font-family: 'archivo_narrowbold';
    src: url('./fonts/archivonarrow-bold-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowbold_italic';
    src: url('./fonts/archivonarrow-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowitalic';
    src: url('./fonts/archivonarrow-italic-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowmedium';
    src: url('./fonts/archivonarrow-medium-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowmedium_italic';
    src: url('./fonts/archivonarrow-mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowregular';
    src: url('./fonts/archivonarrow-regular-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowsemibold';
    src: url('./fonts/archivonarrow-semibold-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowsemibold_italic';
    src: url('./fonts/archivonarrow-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/archivonarrow-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

