.bag-list {

    flex: 1 0;
    border: 1px solid rgb(216, 204, 151);
    border-radius: 3px;
    background: rgb(240, 232, 198);
    padding: 1rem;
    min-height: 10rem;
    margin: 0 .5rem;

    &:first-child {

        margin: 0 .5rem 0 1rem;
    }

    &:last-child {

        margin: 0 1rem 0 .5rem;
    }
}

.bag-header {

    flex: 1 0;
    padding: 0 1rem;
}

