* {
    box-sizing: border-box;
}

html {

    position: relative;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Assistant', sans-serif !important;
    font-size: 1.125rem;
    color: rgba(0,0,0, .9);
    background: rgb(247, 241, 217);
    display: flex;
    flex-direction: row;
}

#app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
input, textarea, button {

    font-family: 'Assistant', sans-serif!important;
    font-size: 1.2rem;

    &::placeholder {

        color: rgba(0,0,0, .3);

        font-weight: initial;
    }
}

input, select {
    font-family: 'Assistant', sans-serif!important;
    font-size: 1.2rem;
}

