.course-item {
    display: flex;
    flex: 1;
    background-color: rgb(253, 249, 231);
    padding: .75rem;
    border-bottom: 1px solid rgb(227, 222, 197);
}

.course-item__label {
    flex: 5;

    &:before {
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
    }
}
.course-item__btn {
    flex: 1;
    max-width: 4rem;
}
