@mixin f-box-input { 

    min-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid rgb(216, 204, 151);
    border-radius: 3px;
    background: rgb(252, 250, 237);

    &:focus {
        outline: 1px solid green;
    }
}

@mixin mui__f-box-input {
    
    height: initial;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mui__f-box-input-container {
    &.mui__f-box-input-container {
        @include f-box-input;
        flex: 8 0;
        &:before,
        &:after,
        &:hover {
            border-bottom:1px solid rgb(216, 204, 151);
        }
        .MuiInput-underline-11:after,
        .MuiInput-underline-11:before,
        .MuiInput-underline-11:hover:not(.MuiInput-disabled-10):not(.MuiInput-focused-9):not(.MuiInput-error-12):before {

            border-bottom: none;
        }
        .MuiInput-input-15 {
            padding: 1.1rem 0;
            font-size: 1.2rem;
            font-family: 'Assistant', sans-serif !important;
        }
    }
}

.f-fields-container {
    padding: 1rem .5rem;
    padding: 0;
}

.f-fieldset {

    border: none;
    padding: 0 1rem;
    margin: 0 0 1rem 0;
}

.f-legend {

    display: block;
}

.f-label {

    display: flex;
    margin-bottom : 1rem;

    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.f-input.f-input {

    @include f-box-input;
    @include mui__f-box-input;

    flex: 8 0;
}

.f-input--fields {
    margin-right: 1rem;
}

.f-select {
    @include f-box-input;
}

.f-select--wide { 

    @include f-box-input;
    
    flex: 8 0;

    option {
        padding-left: 1rem;
    }
}
.f-input-field {

    min-height: 4rem;
}

.f-select--new {

    @include f-box-input;

    flex: 6 0;

    &:focus {
        outline: 1px solid green;
    }
}

.f-label--text {

    width: 25%;
    padding-right: 1rem; 
}

.f-label--long {

    width: 7.6rem;
}

.f-edit {

    display: flex;
    margin: 1rem 0;
    min-height: 3rem;

    .label-text {

        flex: 4;
        padding: 1.4rem 0;
    }
}

.f-edit-input {

    display: flex;        
    flex: 4;

    select {

        font-size: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: .25rem;
    }
}

.f-input--length {
    max-width: 6rem;
    text-align: right;
}

.f-edit-hole__nr {

    min-width: 2rem;
    text-align: right;
    padding-right: .5rem;

    &:before {

        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

.f-btn {

    flex: 1;
    min-height: 3rem;
    white-space: normal;
    border-radius: 3px;
}

.f-btn--line {
    
    white-space: nowrap;
}

.f-btn--knob {

    flex: 1;
    min-height: 3rem;
    max-width: 3rem;
    min-width: 3rem;
    white-space: normal;
    border-radius: 3px;
}

.f-btn--header-knob {
    flex: 1;
    min-height: 3.5rem;
    max-width: 3.5rem;
    min-width: 3.5rem;
    white-space: normal;
    border-radius: 3px;
    border: 1px solid rgba(200,200,200,.001);
}
