.game-nav {
    display: flex;
}

.game-nav__btn {

    display: inline-block;
    min-height: 4rem;
    min-width: 3rem;
    text-align: center;
}

.game-nav__select-hole {

    flex: 1;
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    padding: 0;
    min-height: 4rem;
    border-radius: 0;
    border-top: 1px solid rgb(210, 199, 157);
    border-bottom: 1px solid rgb(210, 199, 157);
    border-left: none;
    border-right: none;
    background: linear-gradient(171deg, rgb(245, 240, 214) 0%, rgb(220, 210, 173) 100%);
    // color: rgba(255,255,255,.9);
    font-weight: 700;

    &:disabled {

        background: rgba(84, 175, 0, 0.28);
        color: rgb(232, 246, 218);
    }

    &:focus {

        outline: none;
    } 
}

.select-hole__hole-label {

    flex: 1;
    padding: 0 1.5rem;
    width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-hole__score {

    padding: 0 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1rem;
    flex: 1;

    &.small {

        font-size: .9rem;
        font-weight: normal;
    }

    .score__strokes-value {

        text-align: right;
        width: 1rem;
        padding: 0 .25rem;
    }


    .score__points-value {

        text-align: right;
        width: 1rem;
        padding: 0 .25rem;
    }
}

.select-hole__info {

    flex: 1;

    border-collapse: collapse;
    border-spacing: 0;
    padding: 0 1.5rem;
    margin-right: .5rem;
    font-size: 1rem;

    &.small {
        font-size: .9rem;
        font-weight: normal;
    }

    .hole-info__par-value {
        text-align: right;
        width: 1rem;
        padding: 0 .25rem;
    }

    .hole-info__si-value {
        text-align: right;
        width: 1rem;
        padding: 0 .25rem;
    }
}

.select-hole__btn-toggle {

    flex: 1;
    max-width: 3rem;
    padding: 0 1.5rem;
}

.select-hole__label {
    font-weight: bold;
    padding-right: 1rem;
}

.select-hole__description {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
