.game-item {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.game-item__label {
    display: flex;
    flex: 1; 
}

.game-label__field {
    flex: 1;
    &.name {
        flex: 5;
    }

}
