:root {
    --hole-list-height: calc(18*4rem);
    --hole-list-display: flex;
    --hole-list-direction: column;
    --hole-list-wrap: wrap;
    --hole-list-grow: 0;
    --hole-list-display-description: none;
    --hole-list-label-flex: 1;
}

@media (min-width: 28rem) {

    :root {
        --hole-list-display-description: none;
        --hole-list-height: calc(9*4rem);
    }
}

@media (min-width: 40rem) {

    :root {
        --hole-list-height: calc(6*4rem);
    }
}

@media (min-width: 82rem) {

    :root {
        --hole-list-height: calc(3*4rem);
        --hole-list-display-description: none;
    }
}

@media (min-width: 123rem) {

    :root {
        --hole-list-height: calc(2*4rem);
        --hole-list-display: grid;
        --hole-list-template-columns:repeat(9, 1fr);
        --hole-list-grid-auto-rows: minmax(1rem, auto);
        --hole-list-display-desciption: none;
        --hole-list-label-flex: 1;
    }
}

.hole-list {

    display: var(--hole-list-display);
    flex-direction: var(--hole-list-direction);
    flex-wrap: var(--hole-list-wrap);
    height: var(--hole-list-height);
    grid-template-columns: var(--hole-list-template-columns);
    grid-auto-rows: var(--hole-list-grid-auto-rows);
}

.select-hole__description {

    display: var(--hole-list-display-description);
}

.select-hole__details-container {

    display: flex;
}

.select-hole__label {

    white-space: nowrap;
    flex: var(--hole-list-label-flex);
}
