.hole-history {
    padding: .5rem;
    min-height: 3.2rem;
    position: relative;
    background: linear-gradient(3deg,rgb(245,240,214) 0%,rgb(245,240,214) 25%,rgb(245,240,214) 75%, rgb(218, 208, 169) 100%);

    &:before {
        position: absolute;
        z-index: 0;
        content: "strokes";
        font-weight: bold;
        font-size: 2rem;
        top: 50%;
        transform: translateY(-60%);
        opacity: .15;
    }
}
