$background: rgb(240, 232, 198);
$baseBackground: rgb(247, 241, 217);
$actionBtnBackground: linear-gradient(171deg, rgb(85, 177, 0) 0%, rgb(55, 116, 0) 100%);
$actionBtnDisabledBackground: rgba(84, 175, 0, 0.28);
$actionBtnPlayBackground: linear-gradient(171deg, rgb(245, 240, 214) 0%, rgb(220, 210, 173) 100%);
$actionBtnPlayBorderColor: rgb(210, 199, 157);
$textColor: rgba(0,0,0, .9);
$diaposTextColor: rgba(255,255,255,.9);
$disabledBtnTextColor: rgb(232, 246, 218);
$fadedTextColor: rgba(0,0,0, .3);
$inputBorder: 1px solid rgb(216, 204, 151);
$inputBackgroundColor: rgb(252, 250, 237);
$actionBtnHeaderNobBorder: 1px solid rgba(200,200,200,.001);

