.player-list__item {

    display: flex;
    min-height: 4rem;
    vertical-align: middle;
    width: 100%;
}

.player-item {

    display: flex;
    flex: 1;
}

.player-item__btn {

    flex: 1;
    max-width: 4rem;
}
