.stroke-history__tab {
    display: inline-block;
    position: relative;
    padding: .2rem .3rem;
    border: 1px solid rgb(210, 199, 157);
    border-radius: 3px;
    margin: .25rem;
    font-size: .9rem;
    font-weight: bold;
    color: rgb(120, 120, 120);
    background-color: rgb(247, 241, 217);
    z-index: 1;
}
