.hole-table {

    border: 1px solid green;
    border-collapse: collapse;

    td, th {
        padding: .5rem;
        border: 1px solid green;
        min-width: 3rem;
        text-align: center;
    }
}
